*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red;; */
    display: flex;
}
#left{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1642176849879-92f85770f212?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#right{
    height: 100%;
    width: 50%;
   background-image: url(https://images.unsplash.com/photo-1587613842560-0816bd27a096?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;
}
#opacity1{   
 height: 100%;
 width: 100%;
 background-color: rgba(0,0,0,0.4);
 color: white;
 position: relative;
 
}
#opacity2{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.511);
    position: relative;
}
#center1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#center2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#center1 h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 50px;
}
#center1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
}
#center1 button{
    height: 20px;
    width: 60%;
    background-color: transparent;
    border: 1px solid black;
}
#center1 button:hover{
    background-color: white;
    color: black;
}
#center2 h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 50px;
}
#center2 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
}
#center2 button{
    height: 20px;
    width: 60%;
    background-color: transparent;
    border: 1px solid white;
}
#center2 button:hover{
    background-color: white;
    color: black;
}
   
   
